<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.UserRentMapper">

    <resultMap id="BaseResultMap" type="com.ssm.entity.UserRent">
            <id property="rid" column="rid" jdbcType="BIGINT"/>
            <result property="rusername" column="rusername" jdbcType="VARCHAR"/>
            <result property="rpwd" column="rpwd" jdbcType="VARCHAR"/>
            <result property="rage" column="rage" jdbcType="VARCHAR"/>
            <result property="rsex" column="rsex" jdbcType="VARCHAR"/>
            <result property="rphonenum" column="rphonenum" jdbcType="VARCHAR"/>
            <result property="rmail" column="rmail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid,rusername,rpwd,
        rage,rsex,rphonenum,
        rmail
    </sql>
</mapper>
